In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline
#%matplotlib notebook
plt.rcParams["figure.figsize"] = (10,6)
import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, log_loss, recall_score,accuracy_score,precision_score,f1_score
from yellowbrick.classifier import ConfusionMatrix
from yellowbrick.cluster import KElbowVisualizer

In [2]:
df = pd.read_csv("health_train.csv")

In [3]:
df2 = df.copy()

In [4]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,2490,2491,2492,2493,2494,2495,2496,2497,2498,2499
age,21.000,36.977,18.000,37.000,58.000,46.000,25.222,29.486,26.520,47.493,...,41.836,25.000,20.000,49.815,32.877,31.058,36.834,56.000,49.000,33.000
sex,male,female,male,male,male,male,male,female,male,female,...,male,male,male,female,male,male,male,female,male,male
bmi,25.745,25.744,30.030,30.677,32.010,26.620,31.193,24.223,25.066,27.302,...,33.647,26.220,35.122,33.878,33.215,27.555,30.322,36.180,36.430,36.641
smoker,no,yes,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
region,northeast,southeast,southeast,northeast,southeast,southeast,northeast,northwest,southwest,northwest,...,northeast,northeast,southwest,northwest,southwest,southeast,northeast,northwest,northwest,southwest
children,2,3,1,3,1,1,4,2,5,3,...,4,0,5,4,5,4,3,2,3,5
charges,3279.869,21454.494,1720.354,6801.438,11946.626,7742.110,21736.328,4916.953,5515.809,17009.335,...,14799.031,2721.321,4853.658,11247.445,6628.269,5889.104,6788.534,12401.747,10376.295,6658.237

In [5]:
df.describe()

           age      bmi  children   charges
count 2500.000 2500.000  2500.000  2500.000
mean    39.003   30.575     2.488 12679.312
std     12.265    5.390     1.707 10593.270
min     18.000   15.960     0.000  1121.874
25%     28.846   26.718     1.000  5612.781
50%     39.350   30.200     2.000  9455.047
75%     48.689   34.046     4.000 14440.628
max     64.000   53.130     5.000 63770.428

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       2500 non-null   float64
 1   sex       2500 non-null   object
 2   bmi       2500 non-null   float64
 3   smoker    2500 non-null   object
 4   region    2500 non-null   object
 5   children  2500 non-null   int64
 6   charges   2500 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 136.8+ KB

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [66]:
X = df.drop(["charges"], axis=1)
y = df["charges"]

In [67]:
cat = X.select_dtypes("object").columns
cat

Index(['sex', 'smoker', 'region'], dtype='object')

In [68]:
enc = OrdinalEncoder()
X[cat] = enc.fit_transform(X[cat])
X.head()

     age   sex    bmi  smoker  region  children
0 21.000 1.000 25.745   0.000   0.000         2
1 36.977 0.000 25.744   1.000   2.000         3
2 18.000 1.000 30.030   0.000   2.000         1
3 37.000 1.000 30.677   0.000   0.000         3
4 58.000 1.000 32.010   0.000   2.000         1

In [69]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=5)

print("Train features shape : ", X_train.shape)
print("Train target shape   : ", y_train.shape)
print("Test features shape  : ", X_test.shape)
print("Test target shape    : ", y_test.shape)

Train features shape :  (2000, 6)
Train target shape   :  (2000,)
Test features shape  :  (500, 6)
Test target shape    :  (500,)

In [12]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [13]:
def train_val(model, X_train, y_train, X_test, y_test):
    
    y_pred = model.predict(X_test)
    y_train_pred = model.predict(X_train)
    
    scores = {"train": {"R2" : r2_score(y_train, y_train_pred),
    "mae" : mean_absolute_error(y_train, y_train_pred),
    "mse" : mean_squared_error(y_train, y_train_pred),                          
    "rmse" : np.sqrt(mean_squared_error(y_train, y_train_pred))},
    
    "test": {"R2" : r2_score(y_test, y_pred),
    "mae" : mean_absolute_error(y_test, y_pred),
    "mse" : mean_squared_error(y_test, y_pred),
    "rmse" : np.sqrt(mean_squared_error(y_test, y_pred))}}
    
    return pd.DataFrame(scores)

Adaboost

In [17]:
from sklearn.ensemble import AdaBoostRegressor

In [14]:
from sklearn.model_selection import GridSearchCV

In [15]:
param_grid = {"n_estimators":[50, 100, 200, 300, 500],
              "learning_rate":[0.1, 0.5, 0.8, 1],
              "loss": ["linear", "square"]
            }

In [18]:
model = AdaBoostRegressor(random_state=101)
grid_model = GridSearchCV(estimator=model,
                          param_grid=param_grid,
                          scoring='neg_root_mean_squared_error',
                          cv=10,
                          n_jobs = -1)

In [19]:
grid_model.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=AdaBoostRegressor(random_state=101), n_jobs=-1,
             param_grid={'learning_rate': [0.1, 0.5, 0.8, 1],
                         'loss': ['linear', 'square'],
                         'n_estimators': [50, 100, 200, 300, 500]},
             scoring='neg_root_mean_squared_error')

In [20]:
grid_model.best_params_

{'learning_rate': 0.1, 'loss': 'linear', 'n_estimators': 50}

In [21]:
grid_model.best_score_

-5111.938935795927

In [22]:
train_val(grid_model, X_train, y_train, X_test, y_test)

            train         test
R2          0.781        0.834
mae      3594.229     3383.558
mse  24226368.970 19704585.020
rmse     4922.029     4438.985

In [24]:
param_grid2 = {"n_estimators":[10, 20, 30, 40, 50],
              "learning_rate":[0.01, 0.05, 0.08, 0.1],
              "loss": ["linear", "square"]
            }

In [25]:
model2 = AdaBoostRegressor(random_state=101)
grid_model2 = GridSearchCV(estimator=model,
                          param_grid=param_grid2,
                          scoring='neg_root_mean_squared_error',
                          cv=10,
                          n_jobs = -1)

In [29]:
grid_model2.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=AdaBoostRegressor(random_state=101), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.08, 0.1],
                         'loss': ['linear', 'square'],
                         'n_estimators': [10, 20, 30, 40, 50]},
             scoring='neg_root_mean_squared_error')

In [30]:
grid_model2.best_params_

{'learning_rate': 0.01, 'loss': 'linear', 'n_estimators': 20}

In [31]:
grid_model2.best_score_

-4955.6663254035

In [33]:
train_val(grid_model2, X_train, y_train, X_test, y_test)

            train         test
R2          0.779        0.835
mae      3083.189     2919.629
mse  24476376.089 19522698.151
rmse     4947.361     4418.450

Gradient Boosting

In [34]:
from sklearn.ensemble import GradientBoostingRegressor

In [35]:
param_grid = {"n_estimators":[100, 200, 300], "subsample":[0.8, 1], "max_features" : [None, 2, 3, 4],
            "learning_rate": [0.001, 0.01, 0.1, 0.5], 'max_depth':[2,3]}

In [36]:
model = GradientBoostingRegressor(random_state=101)
grid_model = GridSearchCV(estimator=model,
                          param_grid=param_grid,
                          scoring='neg_root_mean_squared_error',
                          cv=10,
                          n_jobs = -1)

In [37]:
grid_model.fit(X_train, y_train)

GridSearchCV(cv=10, estimator=GradientBoostingRegressor(random_state=101),
             n_jobs=-1,
             param_grid={'learning_rate': [0.001, 0.01, 0.1, 0.5],
                         'max_depth': [2, 3], 'max_features': [None, 2, 3, 4],
                         'n_estimators': [100, 200, 300],
                         'subsample': [0.8, 1]},
             scoring='neg_root_mean_squared_error')

In [38]:
grid_model.best_params_

{'learning_rate': 0.1,
 'max_depth': 3,
 'max_features': 3,
 'n_estimators': 200,
 'subsample': 1}

In [39]:
grid_model.best_score_

-4053.5844745293316

In [40]:
train_val(grid_model, X_train, y_train, X_test, y_test)

            train         test
R2          0.899        0.904
mae      1758.810     1923.828
mse  11146999.402 11417304.216
rmse     3338.712     3378.950

XGBoost

In [41]:
from xgboost import XGBRegressor

In [76]:
param_grid = {"n_estimators":[100, 300,500],'max_depth':[3,5,6,7], "learning_rate": [0.05, 0.1, 0.2],
             "subsample":[0.5, 1], "colsample_bytree":[0.5, 1]}

In [77]:
model = XGBRegressor(random_state=101, objective="reg:squarederror")
grid_model = GridSearchCV(estimator=model,
                          param_grid=param_grid,
                          scoring='neg_root_mean_squared_error',
                          cv=10,
                          n_jobs = -1)

In [44]:
grid_model.fit(X_train, y_train)

GridSearchCV(cv=10,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    enable_categorical=False, gamma=None,
                                    gpu_id=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,...
                                    num_parallel_tree=None, predictor=None,
                                    random_state=101, reg_alpha=None,
                                    reg_lambda=None, scale_pos_weight=None,
                                    subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.5, 1],
                         'learning_rate': [0.05, 0.1, 0.2],
                         'max_depth': [3, 5, 6, 7],
                         'n_estimators': [100, 300, 500],
                         'subsample': [0.5, 1]},
             scoring='neg_root_mean_squared_error')

In [45]:
grid_model.best_params_

{'colsample_bytree': 1,
 'learning_rate': 0.05,
 'max_depth': 7,
 'n_estimators': 100,
 'subsample': 0.5}

In [46]:
grid_model.best_score_

-3922.0339541628286

In [47]:
train_val(grid_model, X_train, y_train, X_test, y_test)

           train        test
R2         0.945       0.919
mae     1214.331    1646.120
mse  6088707.283 9627853.271
rmse    2467.531    3102.878

In [78]:
grid_model.fit(X, y)

GridSearchCV(cv=10,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None,
                                    enable_categorical=False, gamma=None,
                                    gpu_id=None, importance_type=None,
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,...
                                    num_parallel_tree=None, predictor=None,
                                    random_state=101, reg_alpha=None,
                                    reg_lambda=None, scale_pos_weight=None,
                                    subsample=None, tree_method=None,
                                    validate_parameters=None, verbosity=None),
             n_jobs=-1,
             param_grid={'colsample_bytree': [0.5, 1],
                         'learning_rate': [0.05, 0.1, 0.2],
                         'max_depth': [3, 5, 6, 7],
                         'n_estimators': [100, 300, 500],
                         'subsample': [0.5, 1]},
             scoring='neg_root_mean_squared_error')

In [79]:
df_test = pd.read_csv("health_test.csv")

In [80]:
cat = df_test.select_dtypes("object").columns
cat

Index(['sex', 'smoker', 'region'], dtype='object')

In [82]:
enc = OrdinalEncoder()
df_test[cat] = enc.fit_transform(df_test[cat])
df_test.head()

     age   sex    bmi  smoker  region  children
0 39.297 1.000 29.978   0.000   1.000         4
1 40.368 0.000 27.928   0.000   2.000         5
2 32.882 1.000 41.577   0.000   3.000         5
3 62.000 0.000 30.495   0.000   1.000         2
4 32.476 1.000 30.323   1.000   0.000         4

In [83]:
y_final_pred = grid_model.predict(df_test)

In [85]:
y_final_pred

array([ 7999.1255,  9161.717 ,  6381.747 , 17028.67  , 35251.047 ,
        6591.1953, 10446.273 ,  9168.338 ,  9414.553 ,  1881.145 ,
       11431.659 ,  3657.4658, 12462.294 ,  8313.361 , 11605.837 ,
        6631.832 ,  6982.65  ,  5153.674 ,  3091.094 , 39813.094 ,
        4050.995 , 10594.319 , 30384.852 , 31389.64  ,  8325.637 ,
        5539.5664, 16298.774 ,  3714.8943,  4242.978 , 24954.283 ,
        5112.9805,  6789.5234,  5236.5513, 10049.82  , 38465.55  ,
        6146.579 , 17383.42  , 10960.393 , 10167.608 , 47269.387 ,
       16518.129 , 11935.153 , 18649.266 , 37956.49  ,  5743.895 ,
        7237.504 ,  6590.0337, 10930.476 , 13906.431 , 17372.43  ,
       12471.271 ,  4603.9946, 13250.1875, 11133.609 , 11571.053 ,
       36322.816 , 11184.642 , 11538.955 ,  9170.46  , 12011.966 ,
        5069.666 , 43575.28  , 40751.695 , 33766.266 , 10253.221 ,
       11087.233 ,  6714.8657,  6526.695 ,  7015.6606, 38814.35  ,
       13501.482 ,  8128.248 ,  6625.6016, 12172.993 , 10725.618 ,
       10767.294 , 23749.217 , 14574.28  , 37420.65  , 11084.313 ,
        6193.112 , 45574.34  , 46992.3   ,  4501.074 ,  5071.1035,
       20348.68  , 17245.262 ,  5843.9106,  9525.077 , 12485.41  ,
        5270.281 , 17481.096 , 11809.318 , 12275.945 ,  4889.1045,
        9432.657 ,  6868.9546,  5906.4595,  3544.4556, 10827.283 ,
       10449.967 ,  2192.8083,  9151.171 ,  7157.073 , 39107.977 ,
       23917.984 ,  9280.14  ,  2838.9834, 18444.617 , 17110.008 ,
       10950.412 , 18899.799 , 11002.969 ,  9295.339 ,  7294.886 ,
        6264.01  ,  5985.901 ,  6633.853 , 47127.812 , 19297.635 ,
        9693.982 ,  7736.005 , 11592.147 , 19997.117 ,  6074.6445,
        9962.05  , 10480.228 , 11538.955 , 12157.456 ,  7237.378 ,
        7813.047 , 12685.144 ,  7129.089 ,  5693.191 , 11476.901 ,
        6317.242 , 45670.453 ,  6123.2866,  7222.2856, 13189.5625,
       18645.617 ,  7577.0146, 11069.287 ,  6220.7065, 42194.848 ,
       13752.185 ,  8379.88  , 24733.45  ,  8137.896 , 22440.705 ,
       12705.276 ,  4940.457 , 10168.852 ,  6376.3525, 37972.07  ,
       39812.594 ,  9667.812 ,  9406.321 ,  4159.466 ,  5463.856 ,
       47310.195 , 10283.558 , 10556.072 , 11400.145 , 20827.441 ,
        2433.6973,  3548.968 ,  7496.372 ,  8219.553 , 10770.517 ,
       11031.368 , 18651.41  , 10142.62  , 12848.099 , 14139.656 ,
        6341.3877, 45717.996 ,  6817.6113,  2785.969 ,  6020.185 ,
       10817.9   ,  6133.089 , 10969.697 ,  6803.105 ,  9799.827 ,
        6211.255 , 13100.444 , 21617.084 ,  2810.75  ,  7513.0693,
       17808.29  ,  5998.8765,  3451.6494,  8844.195 , 11309.327 ,
        7721.2046, 20968.28  ,  3355.1282,  4848.7876,  5396.67  ,
       10116.798 ,  9512.593 ,  5457.986 , 36744.79  , 11519.725 ,
       13814.637 , 23412.695 ,  7188.7695,  5914.149 ,  7060.3623,
       18220.701 , 12509.641 ,  8908.463 , 10924.222 ,  7903.4067,
       21333.213 ,  6653.0273,  6703.2563,  5613.3096,  5448.98  ,
        7207.837 ,  4624.8833,  6148.1104, 16063.288 , 46464.71  ,
       27472.627 ,  6719.4053,  5149.603 , 32242.158 , 11235.585 ,
       12178.568 ,  6277.218 ,  8876.449 , 25700.793 ,  3799.2585,
        2162.1833, 10350.102 ,  5687.7773, 22334.385 , 10065.503 ,
        5023.004 ,  9984.949 ,  6924.0093, 12001.029 , 44290.055 ,
       43531.523 ,  7543.269 ,  8222.381 ,  9229.817 ,  9399.302 ,
        8370.047 ,  4681.9287, 10369.524 ,  4082.1633, 10673.843 ,
       11300.239 ,  6840.6475, 20483.535 ,  6645.283 , 43199.77  ,
       19962.078 , 14203.662 , 11637.218 , 12962.804 ,  6170.2896,
       13417.343 , 33310.926 ,  6523.6787, 45238.312 , 10334.608 ,
       23180.762 , 10480.228 , 11207.99  ,  4479.386 ,  4798.118 ,
       16108.781 , 10182.707 ,  6919.43  ,  6140.133 , 12131.317 ,
        8828.709 ,  6359.1655, 11792.591 ,  9805.879 , 14886.561 ,
        8294.447 ,  4865.9507, 11574.033 ,  8496.789 , 24762.615 ,
        5105.47  , 10921.109 , 12862.094 , 10835.753 , 13725.057 ,
        6044.5513, 13682.375 ,  7627.6147, 23210.611 ,  6543.21  ,
        7045.5215,  6813.4087,  7789.375 , 35574.293 , 42839.625 ,
       10501.494 ,  8399.053 ,  5041.5747,  4917.122 , 10188.425 ,
       19540.959 , 10226.543 , 11109.049 ,  4283.163 , 11784.591 ,
        1387.5334, 32312.412 , 18527.406 ,  9961.993 ,  3608.562 ,
       12171.779 ,  5590.0293, 11220.161 , 13394.659 , 20689.822 ,
       13317.9375, 36132.72  , 11572.236 ,  8230.558 ,  5055.385 ,
       22439.012 , 45364.633 , 18257.037 ,  1460.5057,  7759.519 ,
       10265.082 , 27019.016 , 45551.88  , 20032.664 ,  6651.8516,
       22959.238 ,  9741.147 ,  8226.746 , 41158.156 , 14168.207 ,
        9085.007 ,  3313.6365, 24726.703 , 23496.285 , 12387.163 ,
        8640.418 , 40528.81  ,  8730.217 , 36322.062 ,  7563.7993,
        2257.6155,  2510.7698,  7876.341 , 12610.032 , 13258.888 ,
        5433.128 , 42330.266 ,  4523.4907,  6950.894 ,  3586.1602,
       17798.28  , 10682.994 ,  5976.3076, 14764.2705, 11504.881 ,
        6292.6274, 18272.08  ,  4627.841 ,  9850.923 ,  4557.3496,
        6639.326 ,  6508.7876, 10721.854 ,  9057.116 , 19209.992 ,
        5218.809 ,  8395.167 ,  2742.486 , 11220.484 , 39701.15  ,
        6273.0903, 10893.339 ,  5103.474 ,  5964.236 , 11579.172 ,
        6261.4087,  6477.0117,  9425.1   ,  4889.1045,  6330.4146,
       39730.84  , 13967.706 , 14475.204 ,  4786.1445,  6139.0146,
        3322.6719,  4829.186 ,  5834.4927,  7737.1895, 14213.421 ,
        3548.2402, 13047.9795, 39500.39  ,  5626.395 , 25047.797 ,
        1931.7367,  6029.777 , 13416.6045, 44418.07  ,  9708.235 ,
       10428.726 , 42988.676 ,  6909.9155,  5082.408 ,  1562.6207,
        9152.596 ,  4753.2393, 14685.582 ,  9275.397 , 12815.642 ,
        4833.1714, 25510.996 , 16731.602 ,  8275.556 , 11391.057 ,
       10763.162 , 11121.752 , 13357.688 ,  4299.9385,  2257.3042,
       20426.709 , 39811.656 ,  6376.812 , 10930.476 ,  6160.061 ,
        5247.03  ,  7005.522 , 42269.594 , 41350.72  , 28215.494 ,
        1410.834 , 41050.2   , 19734.04  , 11298.372 , 10933.894 ,
       34382.137 ], dtype=float32)

In [86]:
y_final_pred = pd.DataFrame(y_final_pred, columns = ["y_final_pred"])

In [87]:
y_final_pred.describe()

       y_final_pred
count       451.000
mean      13468.927
std       10974.064
min        1387.533
25%        6367.759
50%       10168.852
75%       14344.312
max       47310.195

In [89]:
y_final_pred.to_csv("C9191.csv", index=False)